/* _content/ContactsComponent/Component1.razor.rz.scp.css */
.my-component[b-8pw6st4x6h] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
